@font-face {
    font-family: 'karlabold';
    src: url('../dist/fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../dist/fonts/karla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlabolditalic';
    src: url('../dist/fonts/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../dist/fonts/karla-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaitalic';
    src: url('../dist/fonts/karla-italic-webfont.woff2') format('woff2'),
         url('../dist/fonts/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'karlaregular';
    src: url('../dist/fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../dist/fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* stylelint-disable selector-list-comma-newline-after */

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'karlabold','karlabolditalic','karlaitalic', 'karlaregular', "Open Sans", "Helvetica Neue" !important;
}


.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.bg-color{
    background-color: #5118EA!important;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

